{% extends "base/base.html" %}
{% set active_page = "Signin" %}


{% block head %} 
{% endblock %}


{% block title %} 
    {{ data_main.title }}
{% endblock %}


{% block body %}
    <div class="container mx-auto col-3 position-absolute top-50 start-50 translate-middle">
        {% if get_flashed_messages %}
            <div class="mb-3">
                {% for message in get_flashed_messages(request) %}
                    <div class="alert {{ message.category }}" role="alert">{{ message.message }}</div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="card">
            <div class="card-header text-warning bg-dark">
                № {{user.id}}.
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-primary">Имя: {{user.name}}.</li>
                <li class="list-group-item text-primary">Почта: {{user.email}}.</li>
                <li class="list-group-item text-danger">Статус: 
                    {% if not user.is_active %}
                        Не активеный.
                    {% else %}
                        Активный.
                    {% endif %}
                </li>
                <li class="list-group-item text-danger">Доступ: 
                    {% if not user.access %}
                        -
                    {% else %}
                        {{user.access}}.
                    {% endif %}
                </li>
                <li class="list-group-item text-danger">Админ: 
                    {% if not user.is_admin %}
                        -
                    {% else %}
                        Да.
                    {% endif %}
                </li>
                <li class="list-group-item">Часовой пояс: {{user.tz}}.</li>
                <li class="list-group-item">Вход на сайт: {{user.entered_at | my_date_filter(user.tz)}}.</li>
                <li class="list-group-item">Регистрация на сайте: {{user.registered_at | my_date_filter(user.tz)}}.</li>
                <li class="list-group-item text-end"> 
                    <a class="btn btn-dark" role="button" href="{{url_for('me_edit_get')}}">Редактировать</a>
                    <a class="btn btn-secondary" role="button" href="{{url_for('pass_change_get')}}">Смена пароля</a>
                </li>
            </ul>
            </div>
    </div>

{% endblock %}