{% extends "base/base.html" %}
{% set active_page = "Signup" %}


{% block head %} 
{% endblock %}


{% block title %} 
    {{ data_main.title }}
{% endblock %}


{% block body %}

<div class="container col-3 position-absolute top-50 start-50 translate-middle">

    <form method="post">
        {% if get_flashed_messages %}
            <div class="mb-3">
                {% for message in get_flashed_messages(request) %}
                    <div class="alert {{ message.category }}" role="alert">{{ message.message }}</div>
                {% endfor %}
            </div>
        {% endif %}
        
        <div class="mb-3">

            <label for="exampleFormControlInput1" class="form-label text-primary">Имя:</label>
            <input class="form-control" id="exampleFormControlInput1" name="name" value="{{ name }}" placeholder="">

            <label for="exampleFormControlInput1" class="form-label text-primary">Почта:</label>
            <input type="email" class="form-control" id="exampleFormControlInput2" name="email" value="{{ email }}" placeholder="" >
            
            <label for="inputPassword5" class="form-label text-primary">Пароль:</label>
            <input type="password" id="inputPassword5" class="form-control" aria-labelledby="passwordHelpBlock" name="password" value="{{ password }}" placeholder="">

            <label for="inputPassword5" class="form-label text-primary">Пароль повторно:</label>
            <input type="password" id="inputPassword5" class="form-control" aria-labelledby="passwordHelpBlock" name="password2" value="{{ password2 }}" placeholder="">
        </div>

        <div class="d-flex justify-content-end">
            <button class="btn btn-primary" type="submit">Регистрация</button> 
        </div> 

    </form>
</div>

{% endblock %}