<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ZSTTK Access Control">
    <meta name="author" content="NicKSarD">
    <link href="{{ url_for('static', path='/bootstrap_530/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/bootstrap_icons/font/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/main.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', path='/images/main/main.ico') }}" type="image/png">
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{url_for('index_get')}}">ЗСТТК</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    {% if user and user.is_active %}
                        {% if user.is_admin or 'servers_base_view' in user.access %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle {{'active' if active_page == 'Servers'}}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Сервера
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link" aria-current="page" href="{{url_for('servers_base_all_get')}}">База серверов</a></li>
                                </ul>
                            </li>
                        {% endif %}

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle {{'active' if active_page == 'Info'}}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Инфо
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link" aria-current="page" href="{{url_for('contactsGet')}}">Контакты</a></li>
                                <li><a class="nav-link" aria-current="page" href="{{url_for('medCentrsGet')}}">МедЦентры</a></li>
                                <li><a class="nav-link" aria-current="page" href="{{url_for('table_rcu_get')}}">Таблица РЦУ</a></li>
                            </ul>
                        </li>

                        {% if user.is_admin or 'switches_view' in user.access %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle {{'active' if active_page == 'Switches'}}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Коммутаторы
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link" aria-current="page" href="{{url_for('getSwitchesAll')}}">База комм</a></li>
                                    <li><a class="nav-link" aria-current="page" href="{{url_for('getSwitchError')}}">Ошибки на комм</a></li>
                                </ul>
                            </li>
                        {% endif %}

                    
                        {% endif %}


                    <li class="nav-item">
                        <a class="nav-link {{'active' if active_page == 'About'}}" aria-current="page" href="{{url_for('about_get')}}">О сайте</a>
                    </li>
                </ul>
                


                <ul class="navbar-nav ms-auto">
                    {% if not user %}
                        <li class="nav-item">
                            <a class="nav-link {{'active' if active_page == 'Signin' }}" aria-current="page" href="{{url_for('signin_get')}}">Вход</a>
                        </li>

                        <li class="nav-item">
                            <b class="nav-link" aria-current="page">|</b>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link {{'active' if active_page == 'Signup' }}" aria-current="page" href="{{url_for('signup_get')}}">Регистрация</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{url_for('read_user_me')}}">{{user.name}}</a>
                        </li>

                        <li class="nav-item">
                            <b class="nav-link" aria-current="page">|</b>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{url_for('logout')}}">Выход</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>


    {% block body %}
    {% endblock %}


    {% block body_down %}
    {% endblock %}

    <script src="{{ url_for('static', path='bootstrap_530/js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>