{% extends "base/base.html" %}
{% set active_page = "Info" %}
{% from "base/base_macros.html" import paginate_macro %}


{% block head %} 
{% endblock %}


{% block title %} 
    {{ data_main.title }}
{% endblock %}


{% block body %}
    {% for message in get_flashed_messages(request) %}
        {% if message.message %}
            <div class="container-fluid container-fluid col-4 mt-4 text-center">
                    <div class="alert {{ message.category }}" role="alert">{{ message.message }}</div>
                </div>
        {% endif %}
    {% endfor %}


    {% if paginate %}
        <!-- Модальное окно -->
        <div class="modal fade" id="TableRCUModal" tabindex="-1" aria-labelledby="TableRCULabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title mx-auto text-primary" id="TableRCULabel">Что ищем?</h5>
                    </div>
                    <div class="modal-body">
                        <form class="d-flex" id="searchform" action="{{url_for('table_rcu_search')}}" method="get">
                            <input class="form-control me-1" type="search" placeholder="Город\ Начальник ЭТЦ\ По коммутаторам" aria-label="Search" name="q">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-outline-primary" form="searchform" type="submit">Поиск</button>
                        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid mt-3">
            <table class="table table-hover table-bordered align-middle">
                <thead class="text-center">
                    <tr>
                        <th scope="col"><a class="text-danger" data-bs-toggle="modal" data-bs-target="#TableRCUModal">#</a></th>
                        <th scope="col">Город</th>
                        <th scope="col">ЭТЦ</th>
                        <th scope="col">ТЭГ</th>
                        <th scope="col">По коммутаторам</th>
                        <th scope="col">Начальник ЭТЦ</th>
                        <th scope="col">Ведущий инженер</th>
                    </tr>
                </thead>
        
                <tbody>
                    {% for cell in paginate.content %}
                        <tr class="">
                            <th scope="row" class="text-center"><a href="#">{{ cell.id }}</a></th>
                            <td>{{ cell.city }}</td>
                            <td class="text-center">{{ cell.etc }}</td>
                            <td class="text-nowrap text-center">{{ cell.city_tag }}</td>
                            <td>{{ cell.by_switches }}</td>
                            <td>{{ cell.boss_ETC}}</td>
                            <td>{{ cell.lead_engineer }}</td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    {{ paginate_macro(paginate) }}
{% endblock %}